# Turn on url rewrite
RewriteEngine On
Options Indexes FollowSymLinks



# restrict access to .q files
<FilesMatch "\.q$">
  order allow,deny
  deny from all
</FilesMatch>



# remove www from host
RewriteCond %{HTTP_HOST} ^www\.(.+)
RewriteCond %{HTTPS}s/%1 ^(on(s)|offs)/(.+)
RewriteRule ^ http%2://%3%{REQUEST_URI} [L,R=301]



# rewrite path
RewriteBase /



# rewrite all image/css/js/media requests
RewriteRule ^images/(.+)?$ themes/%{HTTP_HOST}/images/$1 [NC,L]
RewriteRule ^img/(.+)?$ themes/%{HTTP_HOST}/img/$1 [NC,L]
RewriteRule ^css/(.+)?$ themes/%{HTTP_HOST}/css/$1 [NC,L]
RewriteRule ^js/(.+)?$ themes/%{HTTP_HOST}/js/$1 [NC,L]
RewriteRule ^media/(.+)?$ themes/%{HTTP_HOST}/media/$1 [NC,L]
RewriteRule ^uploads/(.+)?$ themes/%{HTTP_HOST}/uploads/$1 [NC,L]
RewriteRule ^sitemap(.+)?$ themes/%{HTTP_HOST}/sitemap$1 [NC,L]



# Leave this alone
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*) index.php?request=$1 [L,QSA]
